/* index.css */

/* Tema escuro */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode .list-group-item {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

body.dark-mode .btn-warning {
  background-color: #e0a800;
  border-color: #d39e00;
}

body.dark-mode .btn-danger {
  background-color: #bd2130;
  border-color: #b21f2d;
}
/* Estilo para o botão do modo escuro/claro */
.theme-toggle {
  position: fixed;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  background: transparent;
  border: none;
}

.theme-toggle:focus {
  outline: none;
}

/* Tema escuro */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode .list-group-item {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

body.dark-mode .btn-warning {
  background-color: #e0a800;
  border-color: #d39e00;
}

body.dark-mode .btn-danger {
  background-color: #bd2130;
  border-color: #b21f2d;
}
